<!DOCTYPE html>
<html lang="en">
	<head>
		<title>STL Viewer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
                font-family: monospace;
				background-color: #6cff87;
				margin: 0;
				overflow: hidden;
			}

			{##info {#}
			{#	color: #fff;#}
			{#	position: absolute;#}
			{#	top: 10px;#}
			{#	width: 100%;#}
			{#	text-align: center;#}
			{#	z-index: 100;#}
			{#	display:block;#}
            {##}
			{#}#}
            {##}
			{#a { color: skyblue }#}
            {##}
			{#span {#}
			{#	display: inline-block;#}
			{#	width: 60px;#}
			{#	float: left;#}
			{#	text-align: center;#}
			{#}#}

		</style>
	</head>
	<body>
{#		<div id="info">#}
{#			<a href="http://threejs.org" target="_blank" rel="noopener">three.js</a>#}
{#			STL loader test by <a href="https://github.com/aleeper">aleeper</a>. PR2 head from <a href="http://www.ros.org/wiki/pr2_description">www.ros.org</a>#}
{#		</div>#}

        <script src={{ url_for('static', filename='library/three.js') }}></script>
        <script src={{ url_for('static', filename='library/STLLoader.js') }}></script>
        <script src={{ url_for('static', filename='library/OrbitControls.js') }}></script>
        <script src={{ url_for('static', filename='library/dat.gui.min.js') }}></script>
        <script src={{ url_for('static', filename='library/Detector.js') }}></script>
        <script src={{ url_for('static', filename='library/stats_min.js') }}></script>
        <script src={{ url_for('static', filename='library/THREE.CSG.js') }}></script>

		<script>

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var container, stats;

			var camera, cameraTarget, scene, renderer;

			var resultMesh, cubeSCG1, cubeSCG2, material;

			init();
			animate();

			function addGrid() {
                var grid = new THREE.GridHelper( 20, 20, 0x888888, 0x888888 );
			    grid.position.set( 0, 0, 0 );
			    scene.add( grid );
            }

            function addGUI() {
                var config = function () {
                    this.Operation = 1
                };


				var gui = new dat.GUI();
				gui.add(new config(), 'Operation', {Union : 0, Intersection : 1, Subtraction: 2})
                    .onChange(function (value) {
                        console.log(value);
                        showMesh(value);
                    });
            }

            function addMesh(operation) {
				loadMesh(operation);
            }

            function loadMesh(operation) {
                var loader = new THREE.STLLoader();
				loader.load('{{ url_for('static', filename='stl_models/cube.stl') }}', function ( geometry ) {

					material = new THREE.MeshPhongMaterial( { color: 0xff5533, specular: 0x111111, shininess: 200 } );
					var mesh = new THREE.Mesh( geometry, material );

					mesh.position.set( 0, 0, 0 );
{#					mesh.rotation.set( 0, 0, 0 );#}
{#					mesh.scale.set( 1, 1, 1 );#}

					mesh.castShadow = true;
					mesh.receiveShadow = true;

					cubeSCG1 = THREE.CSG.fromMesh(mesh);

					//scene.add( mesh );

					mesh = new THREE.Mesh( geometry, material );

					mesh.position.set( 0.5, 0, 0.5 );
{#					mesh.rotation.set( 0, 0, 0 );#}
					mesh.scale.set( 2, 2, 2 );

					mesh.castShadow = true;
					mesh.receiveShadow = true;

					cubeSCG2 = THREE.CSG.fromMesh(mesh);

					console.log(cubeSCG1);

					showMesh(operation)
				} );
            }

            function showMesh(operation) {
			    if ( resultMesh !== undefined ) {
					scene.remove( resultMesh );
					//geometry.dispose();
				}

                var result;
                switch (operation) {
                    case '0':
                    default:
                        result = cubeSCG1.union(cubeSCG2);
                        break;
                    case '1':
                        result = cubeSCG1.intersect(cubeSCG2);
                        break;
                    case '2':
                        result = cubeSCG1.subtract(cubeSCG2);
                        break;
                }
                resultMesh = THREE.CSG.toMesh(result, material);

                scene.add(resultMesh);
            }

			function init() {

				container = document.createElement( 'div' );
				document.body.appendChild( container );

{#				camera = new THREE.PerspectiveCamera( 35, window.innerWidth / window.innerHeight, 1, 15 );#}
{#				camera.position.set( 3, 0.15, 3 );#}

				camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 100 );
                camera.position.set( 3, 3, 3 );


				cameraTarget = new THREE.Vector3( 0, 0, 0);

				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0x72645b );
				scene.fog = new THREE.Fog( 0x72645b, 2, 15 );

                addGrid();
                addMesh('1');
                addGUI();


				// Ground

{#				var plane = new THREE.Mesh(#}
{#					new THREE.PlaneBufferGeometry( 40, 40 ),#}
{#					new THREE.MeshPhongMaterial( { color: 0x999999, specular: 0x101010 } )#}
{#				);#}
{#				plane.rotation.x = -Math.PI/2;#}
{#                plane.position.x = 0;#}
{#				plane.position.y = 0;#}
{#				plane.position.z = 0;#}
{#				scene.add( plane );#}
{##}
{#				plane.receiveShadow = true;#}


				// Axis

                var material = new THREE.LineBasicMaterial({ color: 0x0000ff });

                var geometry = new THREE.Geometry();
                geometry.vertices.push(new THREE.Vector3(1000, 0, 0));
                geometry.vertices.push(new THREE.Vector3(0, 1000, 0));
                geometry.vertices.push(new THREE.Vector3(0, 0, 1000));

                var line = new THREE.Line(geometry, material);
                scene.add(line);


                {#// Binary files#}
                {##}
                {#var car = new THREE.MeshPhongMaterial( { color: 0xAAAAAA, specular: 0x111111, shininess: 200 } );#}
                {##}
                {#car.load( '{{ url_for('static', filename='stl_models/car_2__fixed.stl') }}', function ( geometry ) {#}
                {##}
                {#    var mesh = new THREE.Mesh(geometry, car);#}
                {##}
                {#    mesh.position.set(0, 0, 0);#}
                {#    mesh.rotation.set(-Math.PI / 2, 0, 0);#}
                {#    mesh.scale.set(2, 2, 2);#}
                {##}
                {#    mesh.castShadow = true;#}
                {#    mesh.receiveShadow = true;#}
                {##}
                {#    scene.add(mesh);#}
                {##}
                {#{ );#}
{##}
{#				loader.load( './models/stl/binary/pr2_head_tilt.stl', function ( geometry ) {#}
{##}
{#					var mesh = new THREE.Mesh( geometry, material );#}
{##}
{#					mesh.position.set( 0.136, - 0.37, - 0.6 );#}
{#					mesh.rotation.set( - Math.PI / 2, 0.3, 0 );#}
{#					mesh.scale.set( 2, 2, 2 );#}
{##}
{#					mesh.castShadow = true;#}
{#					mesh.receiveShadow = true;#}
{##}
{#					scene.add( mesh );#}
{##}
{#				} );#}

{#				// Colored binary STL#}
{#				loader.load( './models/stl/binary/colored.stl', function ( geometry ) {#}
{##}
{#					var meshMaterial = material;#}
{#					if (geometry.hasColors) {#}
{#						meshMaterial = new THREE.MeshPhongMaterial({ opacity: geometry.alpha, vertexColors: THREE.VertexColors });#}
{#					}#}
{##}
{#					var mesh = new THREE.Mesh( geometry, meshMaterial );#}
{##}
{#					mesh.position.set( 0.5, 0.2, 0 );#}
{#					mesh.rotation.set( - Math.PI / 2, Math.PI / 2, 0 );#}
{#					mesh.scale.set( 0.3, 0.3, 0.3 );#}
{##}
{#					mesh.castShadow = true;#}
{#					mesh.receiveShadow = true;#}
{##}
{#					scene.add( mesh );#}
{##}
{#				} );#}


				// Lights

				scene.add( new THREE.HemisphereLight( 0x443333, 0x111122 ) );

				addShadowedLight( 1, 1, 1, 0xffffff, 1.35 );
				addShadowedLight( 0.5, 1, -1, 0xffaa00, 1 );
				// renderer

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );

				{#renderer.gammaInput = true;#}
				{#renderer.gammaOutput = true;#}
                {##}
				{#renderer.shadowMap.enabled = true;#}
				{#renderer.shadowMap.renderReverseSided = false;#}

				container.appendChild( renderer.domElement );

				// stats

				stats = new Stats();
				container.appendChild( stats.dom );

				//
                var controls = new THREE.OrbitControls( camera, renderer.domElement );

				window.addEventListener( 'resize', onWindowResize, false );

			}

			function addShadowedLight( x, y, z, color, intensity ) {

				var directionalLight = new THREE.DirectionalLight( color, intensity );
				directionalLight.position.set( x, y, z );
				scene.add( directionalLight );

				directionalLight.castShadow = true;

				var d = 1;
				directionalLight.shadow.camera.left = -d;
				directionalLight.shadow.camera.right = d;
				directionalLight.shadow.camera.top = d;
				directionalLight.shadow.camera.bottom = -d;

				directionalLight.shadow.camera.near = 1;
				directionalLight.shadow.camera.far = 4;

				directionalLight.shadow.mapSize.width = 1024;
				directionalLight.shadow.mapSize.height = 1024;

				directionalLight.shadow.bias = -0.005;

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			function animate() {

				requestAnimationFrame( animate );

				render();
				stats.update();

			}

			function render() {

				var timer = Date.now() * 0.00015;

				{#camera.position.x = Math.cos( timer ) * 3;#}
				{#camera.position.z = Math.sin( timer ) * 3;#}

{#				mesh.position.x = Math.cos( timer ) * 0.1;#}
{#				mesh.position.z = Math.sin( timer ) * 0.1;#}

				camera.lookAt( cameraTarget );

				renderer.render( scene, camera );

			}

		</script>
	</body>
</html>
